<form action="/" method="POST">
  <div class="col-3 mx-auto mt-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="col-3 mx-auto">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
  </div>
  <div class="col-3 mx-auto">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div class="col-3 mx-auto mt-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  {{#if email}}
  <div class="text-center mt-3">
  <div class="alert alert-danger" role="alert">
    <h1>The {{email}} is not find</h1>
    </div>
  {{/if}}

  {{#if password}}
  <div class="text-center mt-3">
  <div class="alert alert-danger" role="alert">
    <h1>Your password is not correct</h1>
   </div>
  {{/if}}
</form>